@tailwind base;
@tailwind components;
@tailwind utilities;



/* home */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.home{
    background-image: linear-gradient(to top, #f6f6ff, #edeefc, #e3e7fa, #d8dff7, #cdd8f5, #c1d9f8, #b3dbfa, #a4ddf9, #97e6f3, #99eee5, #acf2d0, #caf4bb);

}

.foodCart:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cartBtn{
    background-color: #EC591A;
}





.dashboard{

    position: relative;
   
}
.dashboard-btn{
    position: absolute;
    top: 40px;
    right: 5px;
   
}

/* freeDelivery section */

.freeDelivery{
    background-image: url("../src/assets/heroBanner.jpg")
}
.freeDeliveryDiv{
    background-color:#FAF8FF;
}


/* bestfood */

.bestfood{
    position: relative;
   background-color:"bg-base-200";

}

.bestfood:before{
    
    position: absolute;
    width: 100%;
    height:20%;
    content:"";
    background:inherit;
    top: 0;
    bottom:0;
    right:0;
    left: 0;
    transform-origin:top right;
    transform: skewY(4deg);

}




/* this footer section start */

.footer{
    background-color: #00B4E2;
    position: relative;
   
}

.footer::before{

    position: absolute;
    width: 100%;
    height: 30%;
    content:"";
    background:inherit;
    top: 0;
    bottom:0;
    right:0;
    left: 0;
    transform-origin:top right;
    transform: skewY(2deg);
}




/* this footer section end */
