@tailwind base;
@tailwind components;
@tailwind utilities;



/* home */

.home{
    background-image: linear-gradient(to top, #f6f6ff, #edeefc, #e3e7fa, #d8dff7, #cdd8f5, #c1d9f8, #b3dbfa, #a4ddf9, #97e6f3, #99eee5, #acf2d0, #caf4bb);

}

.foodCart:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cartBtn{
    background-color: #EC591A;
}



.footer{
    background-color: #00B4E2;
}

.custom-shape-divider-top-1708835377 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1708835377 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-top-1708835377 .shape-fill {
    fill: #f8f7f7;
}


/* this footer section end */

/* .dashboard{

    transform: translate(180% ,10%);
} */